[Unit]
Description=Mosquitto MQTT Broker (tnabbah)
After=network.target

[Service]
ExecStart=/usr/sbin/mosquitto -c /opt/tnabbah/mosquitto/config/mosquitto.conf
Restart=always

[Install]
WantedBy=multi-user.target
