# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# Environment Folder
env/
venv/
.venv/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# PM2
# =========================
.pm2/

# =========================
# Runtime
# =========================
pids/
*.pid
*.pid.lock

# =========================
# Cache
# =========================
.cache/
.npm/
.eslintcache

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Coverage
# =========================
coverage/
.nyc_output/

# =========================
# Build Output
# =========================
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Security
# =========================
*.pem
*.key
*.crt

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.tmp