[Unit]
Description=MQTT Proxy Server
After=network.target

[Service]
WorkingDirectory=/opt/tnabbah/proxy/src
ExecStart=/usr/bin/node index.js
Restart=always
EnvironmentFile=/opt/tnabbah/proxy/env/.env

[Install]
WantedBy=multi-user.target
