# Dependencies
node_modules/

# Environment Files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# PM2
.pm2/

# Runtime
*.pid
*.pid.lock

# Cache
.cache/
.npm/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db